altair==5.4.1
arabic-reshaper==3.0.0
arrow==1.3.0
asgiref==3.7.2
asn1crypto==1.5.1
attrs==23.2.0
bcrypt==4.1.3
beautifulsoup4==4.12.3
blinker==1.7.0
branca==0.7.1
build==1.1.1
CacheControl==0.14.0
cachetools==5.5.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
config==0.5.1
crashtest==0.4.1
cryptography==42.0.5
cssselect2==0.7.0
decouple==0.0.7
defusedxml==0.7.1
Deprecated==1.2.15
distlib==0.3.8
distutils-pytest==0.2.1
dj-database-url==2.1.0
Django==5.0.3
django-autoslug==1.9.9
django-bootstrap4==24.1
django-crispy-forms==2.1
django-mssql-backend==2.8.1
django-on-heroku==1.1.2
django-versatileimagefield==3.1
django-widget-tweaks==1.4.8
djangorestframework==3.14.0
dulwich==0.21.7
et-xmlfile==1.1.0
fastjsonschema==2.19.1
filelock==3.13.1
fiona==1.9.6
Flask==3.0.2
Flask-Cors==5.0.0
Flask-Limiter==3.8.0
Flask-SQLAlchemy==3.1.1
folium==0.16.0
geopandas==0.14.3
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.1.1
gunicorn==23.0.0
html5lib==1.1
idna==3.6
importlib_resources==6.4.5
iniconfig==2.0.0
installer==0.7.0
itsdangerous==2.1.2
jaraco.classes==3.3.1
Jinja2==3.1.3
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==24.3.1
limiter==0.5.0
limits==3.13.0
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.2.0
msgpack==1.0.8
mssql-django==1.4
mysql==0.0.3
mysql-connector-python==8.3.0
mysqlclient==2.2.4
narwhals==1.14.1
numpy==1.26.4
olefile==0.47
opencv-python==4.9.0.80
openpyxl==3.1.5
ordered-set==4.1.0
oscrypto==1.3.0
packaging==23.2
pandas==2.2.1
pexpect==4.9.0
pillow==10.2.0
pipenv==2023.12.1
pkginfo==1.10.0
platformdirs==4.2.0
plotly==5.24.1
pluggy==1.4.0
poetry==1.8.2
poetry-core==1.9.0
poetry-plugin-export==1.6.0
protobuf==5.28.3
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pyarrow==18.0.0
pycparser==2.21
pydeck==0.9.1
Pygments==2.18.0
pyHanko==0.21.0
pyhanko-certvalidator==0.26.3
pyodbc==5.1.0
pypdf==4.1.0
PyPDF2==3.0.1
pypng==0.20220715.0
pyproj==3.6.1
pyproject_hooks==1.0.0
pytesseract==0.3.13
pytest==8.0.2
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-magic==0.4.27
python-magic-bin==0.4.14
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
qrcode==7.4.2
rapidfuzz==3.6.2
referencing==0.35.1
reportlab==4.0.9
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.21.0
setuptools==69.1.1
shapely==2.0.3
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
soupsieve==2.5
SQLAlchemy==2.0.36
sqlparse==0.3.1
streamlit==1.40.1
StrEnum==0.4.15
sudo==1.0.0
svglib==1.5.1
tenacity==9.0.0
tinycss2==1.2.1
token-bucket==0.3.0
toml==0.10.2
tomlkit==0.12.4
tornado==6.4.1
trove-classifiers==2024.3.3
types-python-dateutil==2.8.19.20240106
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
uritools==4.0.2
urllib3==2.2.1
virtualenv==20.25.1
watchdog==6.0.0
webencodings==0.5.1
Werkzeug==3.0.1
whitenoise==6.6.0
wrapt==1.17.0
xhtml2pdf==0.2.15
xlwt==1.3.0
xyzservices==2023.10.1
